.icon-search-icon:before {
  content: "\e911";
}
.icon-chevron-left:before {
  content: "\e90f";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-simple-arrow:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-more:before {
  content: "\e904";
}
.icon-oval-arrow-left:before {
  content: "\e905";
}
.icon-oval-arrow-right:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}